@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

nav {
  padding: 12px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px -2px 20px 0px #ababab;
  position: fixed;
  right: 0;
  left: 0;
}
nav .navleft {
  display: flex;
  align-items: center;
}
nav .navleft img {
  width: 160px;
  height: auto;
}
nav .navleft .line {
  border-left: 1px solid #242424;
  margin-left: 20px;
  height: 50px;
}
nav .navleft .description {
  width: 200px;
  line-height: 25px;
  font-size: 18px;
  margin-left: 20px;
}
nav .navright {
  display: flex;
  align-items: center;
}
nav .navright #user {
  display: flex;
  margin-left: 50px;
  align-items: center;
  font-size: 18px;
}
nav .navright #user .avatar {
  width: 42px;
  height: auto;
  margin-right: 10px;
}
nav .navright #user button {
  background: #0087FD;
  border: none;
  border-radius: 6px;
  height: 42px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 45px;
  font-size: 16px;
}
nav .navright #user button img {
  width: 20px;
  height: auto;
}
nav .navright #user button img:hover {
  background: #0087fde0;
}
nav .navright ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
nav .navright ul a {
  color: #242424;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav .navright ul a:hover {
  color: #0087FD;
}
nav .navright ul .link1, nav .navright ul .link2 {
  margin-left: 30px;
}

.menu {
  width: 200px;
  background: #0087FD;
  height: 100vh;
  position: fixed;
}
.menu .menucontainer {
  margin-top: 100px;
}
.menu .menucontainer .menuitem {
  padding: 13px 15px;
  display: flex;
  color: #F7F7F7;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu .menucontainer .menuitem img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.menu .menucontainer .opa {
  background: rgba(0, 0, 0, 0.35);
}

.content {
  display: flex;
}
.content .pusher {
  width: 225px;
}
.content .realcontent {
  margin-top: 100px;
  display: flex;
  flex: 1;
  margin: 100px 0 0 225px;
}
.content .realcontent .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.content .realcontent .form .staylogged, .content .realcontent .form label {
  font-size: 13px;
}
.content .realcontent .form label {
  margin: 16px 0 0 4px;
  display: flex;
  align-items: center;
}
.content .realcontent .form .input, .content .realcontent .form textarea {
  width: 100%;
  height: 47px;
  margin-top: 16px;
  border: 0;
  background: #F2F2F2;
  border-radius: 8px 0 0 8px;
  font-weight: 700;
  font-size: 14px;
  text-indent: 14px;
}
.content .realcontent .form .input::placeholder, .content .realcontent .form textarea::placeholder {
  color: #242424;
}
.content .realcontent .form textarea {
  height: 100px;
  padding-top: 10px;
}
.content .realcontent .form img {
  height: auto;
  width: 114px;
  margin: 16px 16px 0 0;
}
.content .realcontent .form .third {
  width: 32.4%;
  border-radius: 8px;
}
.content .realcontent .form .file {
  margin-top: 16px;
}
.content .realcontent .form .submit {
  background: #0087FD;
  color: #F7F7F7;
}

body {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=add.css.map */
