
@import 'ext';
@import 'nav';
@import 'menu';

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.ttf') format('truetype');
  }

nav{
    box-shadow: 2px -2px 20px 0px #ababab;
    opacity: initial;
    position: fixed;
    right: 0;
    left: 0;
    height: 44px;
        .user{
            display: flex;
            align-items: center;
            font-size: 18px;
            .avatar{
                width: 42px;
                height: auto;
                margin-right: 10px;
            }
            p{
                margin-right: 15px;
            }
                .button{
                    img{
                    width: 20px;
                    height: auto;
                }
                }
        }
}

    .realcontents{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin:60px 0 0 225px;
        #showmore{
            display: flex;
            width: 100%;
            border-radius: 8px 0 0 8px;
            height:40px;
            background:$blue;
            justify-content: center;
            cursor: pointer;
    align-items: center;
    color: #fff;
    margin-bottom: 18px;
        }
        .add{
            margin:15px 0;
            display: flex;
            margin-right: 20px;
            font-weight: bold;
            border: none;
            background: #fff0;
            cursor: pointer;
            font-size: 15px;
    align-items: flex-start;
            img{
                width: 18px;
                height: auto;
                margin-right: 6px;
            }
        }
        #realcontent{
            width: 100%;
            .item{
                display:flex;
                margin-bottom: 18px;
                border: 1px solid #a9a9a9;
                border-radius: 8px 0 0 8px;
                border-right: none;
                img{
                    border-radius: 8px 0 0 8px;
                    width: 225px;
                }
                .itemcontent{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 15px;
                    justify-content: space-between;
                    .details1{
                        .title{
                            font-weight: bold;
                            font-size: 19px;
                            width: 90%;
                        }
                        .description{
                            font-size: 14px;
                            width: 90%;
                            margin-top: 5px;
                        }
                    }
                    .details2{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .detailsleft{
                            display: flex;
                            flex-direction: row;
                            .push{
                                margin-left: 22px;
                            }
                            .detail{
                                font-size: 14px;
                                font-weight: bold;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                img{
                                    width: 16px;
                                    height: auto;
                                    margin-right: 5px;
                                }
                            }
                        }
                        .detailsright{
                            display: flex;
                            form button{
                                border: none;
                                background: #fff0;
                                cursor: pointer;
                            }
                            img{
                                width: 17px;
                                height: auto; 
                            }
                            .pushe{
                                margin-left:5px;
                            }
                        }
                    }
                }
        }

        }
    }
    // .showmore{
    //     background:$blue;
    //     width: 100%;
    //     height: 32px;
    //     color:$white;
    //     border-radius: 8px 0 0 8px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }


body{
    display: flex;
    flex-direction: column;
}