* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

nav {
  padding: 8px 20px;
  background-color: #fff;
  opacity: 90%;
  display: flex;
  justify-content: space-between;
}
nav .navleft {
  display: flex;
  align-items: center;
  flex: 1;
}
nav .navleft img {
  width: 150px;
  height: auto;
}
nav .navleft .line {
  border-left: 1px solid #242424;
  margin: 0 20px;
  height: 40px;
}
nav .navleft .description {
  width: 200px;
  line-height: 22px;
  font-size: 16px;
}
nav .navmiddle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
nav .navmiddle ul {
  list-style-type: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
nav .navmiddle ul li:nth-child(1), nav .navmiddle ul li:nth-child(2) {
  margin-right: 10px;
}
nav .navmiddle ul a {
  color: #242424;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav .navmiddle ul a:hover {
  color: #0087FD;
}
nav .navright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
nav .navright .button {
  background: #0087FD;
  border: none;
  border-radius: 6px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
nav .navright .button:hover {
  background: #0087fde0;
}
nav .navright #disconnectbutton {
  margin-left: 10px;
}

.menu {
  width: 200px;
  background: #0087FD;
  height: 100vh;
  position: fixed;
}
.menu .menucontainer {
  margin-top: 100px;
}
.menu .menucontainer .menuitem {
  padding: 13px 15px;
  text-decoration: none;
  display: flex;
  color: #F7F7F7;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.menu .menucontainer .menuitem img {
  width: 30px;
  height: auto;
  margin-right: 15px;
}
.menu .menucontainer .opa {
  background: rgba(0, 0, 0, 0.35);
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Bold.ttf") format("truetype");
}
nav {
  box-shadow: 2px -2px 20px 0px #ababab;
  opacity: initial;
  position: fixed;
  right: 0;
  left: 0;
  height: 44px;
}
nav .user {
  display: flex;
  align-items: center;
  font-size: 18px;
}
nav .user .avatar {
  width: 42px;
  height: auto;
  margin-right: 10px;
}
nav .user p {
  margin-right: 15px;
}
nav .user .button img {
  width: 20px;
  height: auto;
}

.realcontents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 60px 0 0 225px;
}
.realcontents #showmore {
  display: flex;
  width: 100%;
  border-radius: 8px 0 0 8px;
  height: 40px;
  background: #0087FD;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: #fff;
  margin-bottom: 18px;
}
.realcontents .add {
  margin: 15px 0;
  display: flex;
  margin-right: 20px;
  font-weight: bold;
  border: none;
  background: #fff0;
  cursor: pointer;
  font-size: 15px;
  align-items: flex-start;
}
.realcontents .add img {
  width: 18px;
  height: auto;
  margin-right: 6px;
}
.realcontents #realcontent {
  width: 100%;
}
.realcontents #realcontent .item {
  display: flex;
  margin-bottom: 18px;
  border: 1px solid #a9a9a9;
  border-radius: 8px 0 0 8px;
  border-right: none;
}
.realcontents #realcontent .item img {
  border-radius: 8px 0 0 8px;
  width: 225px;
}
.realcontents #realcontent .item .itemcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  justify-content: space-between;
}
.realcontents #realcontent .item .itemcontent .details1 .title {
  font-weight: bold;
  font-size: 19px;
  width: 90%;
}
.realcontents #realcontent .item .itemcontent .details1 .description {
  font-size: 14px;
  width: 90%;
  margin-top: 5px;
}
.realcontents #realcontent .item .itemcontent .details2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsleft {
  display: flex;
  flex-direction: row;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsleft .push {
  margin-left: 22px;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsleft .detail {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsleft .detail img {
  width: 16px;
  height: auto;
  margin-right: 5px;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsright {
  display: flex;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsright form button {
  border: none;
  background: #fff0;
  cursor: pointer;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsright img {
  width: 17px;
  height: auto;
}
.realcontents #realcontent .item .itemcontent .details2 .detailsright .pushe {
  margin-left: 5px;
}

body {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=admin.css.map */
