* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

nav {
  padding: 8px 20px;
  background-color: #fff;
  opacity: 90%;
  display: flex;
  justify-content: space-between;
}
nav .navleft {
  display: flex;
  align-items: center;
  flex: 1;
}
nav .navleft img {
  width: 150px;
  height: auto;
}
nav .navleft .line {
  border-left: 1px solid #242424;
  margin: 0 20px;
  height: 40px;
}
nav .navleft .description {
  width: 200px;
  line-height: 22px;
  font-size: 16px;
}
nav .navmiddle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
nav .navmiddle ul {
  list-style-type: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
nav .navmiddle ul li:nth-child(1), nav .navmiddle ul li:nth-child(2) {
  margin-right: 10px;
}
nav .navmiddle ul a {
  color: #242424;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav .navmiddle ul a:hover {
  color: #0087FD;
}
nav .navright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
nav .navright .button {
  background: #0087FD;
  border: none;
  border-radius: 6px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
nav .navright .button:hover {
  background: #0087fde0;
}
nav .navright #disconnectbutton {
  margin-left: 10px;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/DancingScript-Bold.ttf") format("truetype");
}
body {
  background-repeat: no-repeat;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}
body #overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  transition: 0.5s;
}
body #overlay .window {
  background: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
body #overlay .window img {
  width: 16px;
  height: auto;
  align-self: flex-end;
}
body #overlay .window .form {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
body #overlay .window .form .loginextra {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}
body #overlay .window .form .loginextra #error {
  color: red;
  font-size: 13px;
}
body #overlay .window .form .staylogged, body #overlay .window .form label {
  font-size: 13px;
}
body #overlay .window .form label {
  margin: 16px 0 0 4px;
  display: flex;
  align-items: center;
}
body #overlay .window .form .staylogged {
  border-radius: 10px;
  margin-right: 5px;
}
body #overlay .window .form #staylogged {
  margin-top: initial;
}
body #overlay .window .form .input {
  width: 100%;
  height: 47px;
  margin-top: 16px;
  border: 0;
  background: #F2F2F2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  text-indent: 14px;
}
body #overlay .window .form .input::placeholder {
  color: #242424;
}
body #overlay .window .form .submit {
  background: #0087FD;
  color: #F7F7F7;
}
body #overlay .window .form .half {
  width: 49%;
}
body #overlay .window p {
  text-align: center;
  color: #242424;
  font-weight: 700;
  font-size: 14px;
}
body #overlay .window p a {
  color: #0087FD;
  cursor: pointer;
}
body #overlay .window .form2 {
  justify-content: initial;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
header h1 {
  z-index: -1;
  padding: 0 15%;
  font-size: 121px;
  color: #F7F7F7;
  font-family: "Dancing Script", sans-serif;
  align-self: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0 0 20px black;
}

#downarrow {
  width: 110px;
  align-self: center;
  text-shadow: 0 0 5px #000000;
  position: absolute;
  bottom: 0%;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

section {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 3% 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section #realcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
section #realcontent .error {
  color: #fff;
  font-size: 21px;
}
section #realcontent .item {
  margin: 0 15px 30px 15px;
  display: flex;
  justify-content: center;
}
section #realcontent .item .content {
  width: 360px;
  display: flex;
  flex-direction: column;
}
section #realcontent .item .content .description {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
section #realcontent .item .content .description .up {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
section #realcontent .item .content .description .up .right {
  font-weight: 700;
  font-size: 20px;
}
section #realcontent .item .content .description .up .left .details {
  display: flex;
}
section #realcontent .item .content .description .up .left .details img {
  width: 14px;
  height: auto;
}
section #realcontent .item .content .description .up .left .details .category {
  margin-left: 6px;
}
section #realcontent .item .content .description button {
  background: #028FF9;
  color: #F7F7F7;
  border-radius: 8px;
  border: 0;
  height: 32px;
  font-size: 16px;
  font-weight: 700;
}
section #realcontent .item .content img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}
section #showmore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border: 0;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 50px;
}

footer {
  background: #fff;
  opacity: 90%;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  height: 25px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #242424;
}

/*# sourceMappingURL=index.css.map */
